version: '3.9'
services:
  # api_socket:
  #   build: { context: ./backend/socket, target: dev }
  #   container_name: salchimonster_spain_api_socket_dev
  #   env_file: ./backend/socket/.env
  #   volumes:
  #     - ./backend/socket/app:/code
  #   environment:
  #     CHOKIDAR_USEPOLLING: "true"
  #   ports:
  #     - '8000:80'
  #   restart: unless-stopped

  front_spain:
    build: { context: ./frontend/spain, target: dev }
    container_name: salchimonster_spain_front_spain_dev
    volumes:
      - ./frontend/spain/app:/app
      - front_spain_node_modules:/app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
    env_file: ./frontend/spain/.env
    command: npm run dev -- --host 0.0.0.0
    ports:
      - '3002:3000'
    restart: unless-stopped

  front_main_spain:
    build: { context: ./frontend/main, target: dev }
    container_name: salchimonster_spain_front_main_dev
    volumes:
      - ./frontend/main/app:/app
      - front_main_node_modules:/app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
    env_file: ./frontend/main/.env
    command: npm run dev -- --host 0.0.0.0
    ports:
      - '3003:3000'
    restart: unless-stopped

volumes:
  front_spain_node_modules:
  front_main_node_modules:
